* {
  margin: 0px;
  text-align: center;
  padding: 0px;
}

body {
  background-color: #FFFABA;
  font-family: 'Days One', sans-serif;
  color: #1BA21B;
  font-size: 2em;
}

h1, h3 {
  color: #E24848;
  letter-spacing: 2px;
}

button {
  font-size: .9em;
  padding: 1px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 100%;
  border-color: black;
}

.interface {
  
}

.red{
  width: 250px;
  height: 200px;
  background-color : #9f0f17;
  border-top-right-radius: 100%;
}

.green{
  width: 250px;
  height: 200px;
  background-color : #00a74a;
  border-top-left-radius: 100%;
}

.yellow{
  width: 250px;
  height: 200px;
  background-color : #cca707;
  border-bottom-left-radius: 100%;
}

.blue{
  width: 250px;
  height: 200px;
  background-color : #094a8f;
  border-bottom-right-radius: 100%;
}

.yellow.light{
  background-color : #fed93f;
}

.blue.light{
  background-color : #1c8cff;
}

.red.light{
  background-color : #ff4c4c;
}

.green.light{
  background-color : #13ff7c;
}

.footer {
  font-size: 0.75em;
}
